<div class="header">
  <div class="background" style="background-image:url( {{image}} );"></div>
  <div class="info">
    <i class="fa fa-play-circle"></i>
    <p>{{name}}</p> 
  </div>
</div>
<div class="meta">
  <p>{{genre}}</p>
  <p class="site"><a href="{{songurl}}">{{songurl}}</a></p>
</div>
